/* Media query for biger size */
@media screen and (max-width: 1400px) {
    #profile {
      height: 70vh;
      margin-bottom: 1rem;
    }
    .about_containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #profile{
      height: 50rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    #experience,
    .experience-details-container {
      margin-top: 4rem;
    }
   .arrow{
    display: none;
   }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .about_containers {
      margin-top: 0;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    #profile {
      height: 80vh;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      text-align: center;
      gap: 0.5rem;
    }
    .section_text_p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .section_pic-container {
      height: 250px;
      width: 250px;
      margin: auto ;
    }
    .section_text {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
    }
    .about_containers{
      display: flex;
      flex-direction: column;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .contact-info-container{
      flex-wrap: wrap;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .contact-info-upper-container{
      width: 90%;
    }
    .about_containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-lower-container{
      height: 50vh;
      width: 90%;
    }
    footer {
      height: 50vh;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
  }